body {
    background-color:floralwhite; 
    text-align: center;
}

#div_id_name{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 180px;
    margin-right: 180px;
}

#div_id_bio{
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

form{
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    margin-left: 300px !important;
    margin-right: 300px !important;
}