<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body style="text-align: center;">
        <h1>{{ auth.name }}'s Page</h1>
        <br>
        <h2>{{ auth.name }}'s Bio</h2>
        <p>{{ auth.bio }}</p>
        <br>
        <h2>Here's what {{auth.name}} has been making!</h2>
        <ol style="list-style-position:inside;">
            {% for foo in recipe %}
            <li>
                <a href="/recipe/{{foo.id}}">{{ foo.title }}</a>
            </li>
            {% endfor %}
        </ol>
        <br>
        <button style="background-color: black;">
            <a href="/addrecipe/" style="color: white;">
                Add a Recipe!
            </a>
        </button>

        <button style="background-color: black;">
            <a href="/addauthor/" style="color: white;">
                Add yourself as an Author!
            </a>
        </button>
    </body>

</html>