<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'author/style.css' %}" />
        <h1>{{ auth.name }}'s Page</h1>
        <br>
        <h2>{{ auth.name }}'s Bio</h2>
        <p>{{ auth.bio }}</p>
        <br>
        <h2>Here's what {{auth.name}} has been making!</h2>
        <ol>
            {% for foo in recipe %}
            <li>
                <a href="/recipe/{{foo.id}}">{{ foo.title }}</a>
            </li>
            {% endfor %}
        </ol>
        <br>
        <div class="buttons">
            <div id="top-buttons">
                <button>
                    <a href="/addrecipe/">
                        Add a Recipe!
                    </a>
                </button>

                <button>
                    <a href="/addauthor/">
                        Add yourself as an Author!
                    </a>
                </button>
            </div>
            <br>
            <button>
                <a href="/">
                    Home
                </a>
            </button>
        </div>
    </body>

</html>