<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Recipe Page</title>
    </head>

    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipe/style.css'%}" />
        <h1> Recipe Directions for {{ data.title }} by
            <a href="/author/{{data.author.id}}"> {{ data.author }}</a>
        </h1>
        <br>
        <br>
        <h2>Discription</h2>{{ data.description|linebreaksbr }}
        <br>
        <br>
        <h2>Time to make</h2>{{ data.time_required }}
        <br>
        <br>
        <h2>Directions</h2>
        <p>{{ data.instructions|linebreaksbr}} </p>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group" role="toolbar">
                    <div class="btn-group mr-2" role="group" aria-label="1st group">
                        <button type="button" class="btn btn-success">
                            <a href="/" class="badge badge-success">
                                Home
                            </a>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="2nd group">
                        <button type="button" class="btn btn-primary">
                            <a href="/addrecipe/" class="badge badge-primary">
                                Add a Recipe!
                            </a>
                        </button>

                        <button type="button" class="btn btn-secondary">
                            <a href="/addauthor/" class="badge badge-secondary">
                                Add yourself as an Author!
                            </a>
                        </button>
                    </div>
                </div>
            </div>
    </body>

</html>