<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'recipe/style.css'%}" />
        <h1> Recipe Directions for {{ data.title }} by
            <a href="/author/{{data.author.id}}"> {{ data.author }}</a>
        </h1>
        <br>
        <h2>Discription</h2>{{ data.description|linebreaksbr }}
        <h2>Time to make</h2>{{ data.time_required }}
        <br>
        <h2>Directions</h2>
        <p>{{ data.instructions|linebreaksbr }} </p>
        <br>
        <div class="buttons">
            <div id="top-buttons">
                <button>
                    <a href="/addrecipe/">
                        Add a Recipe!
                    </a>
                </button>

                <button>
                    <a href="/addauthor/">
                        Add yourself as an Author!
                    </a>
                </button>
            </div>
            <br>
            <button>
                <a href="/">
                    Home
                </a>
            </button>
        </div>
    </body>

</html>